title=Adblock Plus preferences

<style type="text/css">
#preftable th, #preftable td
{
  background-color: #fff;
}

#preftable td span
{
  display: block;
}

#preftable
{
  table-layout: fixed;
  width: 99%;
  border-spacing: 0px;
  border-collapse: collapse;
}

#preftable .section
{
  text-align: center;
  font-weight: bold;
}

#preftable td, #preftable th
{
  border: 1px solid #ccc;
  padding: 2px;
  vertical-align: top;
}

.prefname
{
  font-weight: bold;
}
</style>

<p>{{"The following table lists and explains all preferences that are used by Adblock Plus. These preferences can be viewed and changed via <a href=\"{{s2-link http://kb.mozillazine.org/About:config}}\"><fix>about:config</fix></a>."|translate("s2")}}</p>

{% macro enabledDescription() %}
{{"Value of the \"Enable Adblock Plus\" option"|translate("enabled-s1")}}
{% endmacro %}

{% macro frameobjectsDescription() %}
{{"Value of the \"Show tabs on Flash and Java\" option"|translate("frameobjects-s1")}}
{% endmacro %}

{% macro showinstatusbarDescription() %}
{{"Value of the \"Show in status bar\" option"|translate("showinstatusbar-s1")}}
{% endmacro %}

{% macro savestatsDescription() %}
{{"Value of the \"Count filter hits\" option"|translate("savestats-s1")}}
{% endmacro %}

{% macro patternsfileDescription() %}
{{"Name of the file that should be used to store the list of filters. This can be either an absolute path, or it can be file's location relative to the user's profile."|translate("patternsfile-s1")}}
{% endmacro %}

{% macro patternsbackupsDescription() %}
{{"Number of backups for patterns.ini that should be kept. If this is 0, backups will be disabled."|translate("patternsbackups-s1")}}
{% endmacro %}

{% macro patternsbackupintervalDescription() %}
{{"Minimal interval between two backups of patterns.ini (in hours)"|translate("patternsbackupinterval-s1")}}
{% endmacro %}

{% macro defaulttoolbaractionDescription() %}
{{"Defines the action that should be executed when the toolbar icon is clicked. Possible values are:"|translate("defaulttoolbaraction-s1")}}<br>

 <br>

{{"0 — show menu"|translate("defaulttoolbaraction-s2")}}<br>

{{"1 — open/close blockable items"|translate("defaulttoolbaraction-s3")}}<br>

{{"2 — show Preferences dialog"|translate("defaulttoolbaraction-s4")}}<br>

{{"3 — enable/disable Adblock Plus"|translate("defaulttoolbaraction-s5")}}<br>

{{"anything else — do nothing"|translate("defaulttoolbaraction-s6")}}
{% endmacro %}

{% macro defaultstatusbaractionDescription() %}
{{"Defines the action that should be executed when the status bar icon is clicked. For list of possible values\n    see <a href=\"#defaulttoolbaraction\"><fix>defaulttoolbaraction</fix></a>."|translate("defaultstatusbaraction-s1")}}
{% endmacro %}

{% macro sidebar_keyDescription() %}
{{"Defines the keyboard shortcut to be used to open blockable items. This preference can be empty or it can be of the form <em>modifier1 modifier2 key</em>. Recognized modifiers are: Shift, Accel (default accelerator key, e.g. Ctrl on Windows, Command on Mac OS X), Ctrl/Control, Alt, Meta. Key can be either a letter or a special key like F7 or RIGHT (see <a href=\"{{sidebar_key-s2-link http://mxr.mozilla.org/mozilla/source/dom/public/idl/events/nsIDOMKeyEvent.idl}}\">nsIDOMKeyEvent interface</a> for a list of special keys)."|translate("sidebar_key-s2")}} {{"Starting with Adblock Plus 1.3.5 multiple comma-separated shortcuts can be specified, the first available keyboard shortcut from the list will be used."|translate("sidebar_key-s3")}}<br>

 <br>

 {{"<em>Note</em>: This setting will only apply after the browser is restarted."|translate("sidebar_key-s4")}}
{% endmacro %}

{% macro filters_keyDescription() %}
{{"Defines the keyboard shortcut to be used to open Filter Preferences dialog. For description of possible values see <a href=\"#sidebar_key\"><fix>sidebar_key</fix></a>."|translate("filters_key-s1")}}<br>

 <br>

 {{"<em>Note</em>: This setting will only apply after the browser is restarted."|translate("filters_key-s2")}}
{% endmacro %}

{% macro enable_keyDescription() %}
{{"Defines the keyboard shortcut to be used to enable/disable Adblock Plus. For description of possible values see <a href=\"#sidebar_key\"><fix>sidebar_key</fix></a>."|translate("enable_key-s1")}}<br>

 <br>

 {{"<em>Note</em>: This setting will only apply after the browser is restarted."|translate("enable_key-s2")}}
{% endmacro %}

{% macro flash_scrolltoitemDescription() %}
{{"Defines whether \"Flash item's borders\" in the list of blockable items should try to scroll the item into view."|translate("flash_scrolltoitem-s1")}}
{% endmacro %}

{% macro previewimagesDescription() %}
{{"Defines whether the tooltip in the list of blockable items should show the image that the item represents."|translate("previewimages-s1")}}
{% endmacro %}

{% macro clearStatsOnHistoryPurgeDescription() %}
{{"If <code>true</code>, clearing browsing history will also clear hit statistics for Adblock Plus filters. Note that the hit statistics often allow deducing which sites the user visited, when and how often."|translate("clearStatsOnHistoryPurge-s1")}}
{% endmacro %}

{% macro composer_defaultDescription() %}
{{"Determines which suggestion should be selected in the filter composer by default:"|translate("composer_default-s1")}}<br>

 <br>

{{"0 — custom pattern"|translate("composer_default-s2")}}<br>

{{"1 — exact address only"|translate("composer_default-s3")}}<br>

{{"2 — entire directory"|translate("composer_default-s4")}}<br>

{{"3 — entire site"|translate("composer_default-s5")}}
{% endmacro %}

{% macro sendReport_keyDescription() %}
{{"Defines the keyboard shortcut to be used to send issue reports."|translate("sendReport_key-s1")}} {{"For\ndescription of possible values see <a href=\"#sidebar_key\"><fix>sidebar_key</fix></a>."|translate("sendReport_key-s2")}}
<br><br>

{{"<em>Note</em>: This setting will only apply after the browser is restarted."|translate("sendReport_key-s3")}}
{% endmacro %}

{% macro subscriptions_exceptionscheckboxDescription() %}
{{"If <code><fix>true</fix></code>, the filter list for <a href=\"acceptable-ads\">non-intrusive ads</a>\nwill get special treatment and will be displayed as a checkbox in the user\ninterface."|translate("subscriptions_exceptionscheckbox-s1")}}
{% endmacro %}

{% macro subscriptions_autoupdateDescription() %}
{{"Defines whether filters in filter subscriptions will be updated\nautomatically."|translate("subscriptions_autoupdate-s1")}}<br><br>

{{"<em>Note</em>: Disabling updates is not recommended."|translate("subscriptions_autoupdate-s2")}}
{% endmacro %}

{% macro fastcollapseDescription() %}
{{"If set to <code><fix>true</fix></code> blocked elements will no longer be hidden."|translate("fastcollapse-s1")}} {{"This might have the effect that\nplaceholders will show up for blocked images for example, unless hidden by other means."|translate("fastcollapse-s2")}} {{"This functionality was available\nas \"Hide placeholders of blocked elements\" before Adblock Plus 2.6.7."|translate("fastcollapse-s3")}}
{% endmacro %}

{% macro currentVersionDescription() %}
{{"Stores the last used Adblock Plus version, this will trigger actions that need to be done on upgrade or first install"|translate("currentVersion-s1")}}
{% endmacro %}

{% macro detachsidebarDescription() %}
{{"Stores state of the list of blockable items — <code><fix>true</fix></code> means detached"|translate("detachsidebar-s1")}}
{% endmacro %}

{% macro recentReportsDescription() %}
{{"JSON-encoded data on recently submitted issue reports (address of the report,\nwebsite reported and time of submission)"|translate("recentReports-s1")}}
{% endmacro %}

{% macro hideContributeButtonDescription() %}
{{"This is set to <code><fix>true</fix></code> if the user chose to hide the\nContribute button."|translate("hideContributeButton-s1")}}
{% endmacro %}

{% macro blockableItemsSizeDescription() %}
{{"Remembered size of the Blockable Items list (width setting is only relevant when\ndisplayed as a sidebar)."|translate("blockableItemsSize-s1")}}
{% endmacro %}

{% macro subscriptions_fallbackurlDescription() %}
{{"Address of the script that should be consulted if a subscription fails to download a certain number of times (see <a href=\"#subscriptions_fallbackerrors\"><fix>subscriptions_fallbackerrors</fix></a>). %s is replaced by the address of the subscription in question. The script should print something like \"301 http://example.com/new_list.txt\" if the new location of the subscription is known."|translate("subscriptions_fallbackurl-s1")}}
{% endmacro %}

{% macro subscriptions_fallbackerrorsDescription() %}
{{"Sets the required number of failed subscription download attempts before the fallback script (see <a href=\"#subscriptions_fallbackurl\"><fix>subscriptions_fallbackurl</fix></a>) will be consulted for the new address of the subscription. Note that Adblock Plus will always retry a download one day after a failed download attempt."|translate("subscriptions_fallbackerrors-s1")}}
{% endmacro %}

{% macro subscriptions_listurlDescription() %}
{{"Address to download the complete list of filter subscriptions from."|translate("subscriptions_listurl-s1")}}
{% endmacro %}

{% macro whitelistschemesDescription() %}
{{"List of URL schemes that shouldn't be blocked (applied to both whole documents and to item locations)"|translate("whitelistschemes-s1")}}
{% endmacro %}

{% macro documentation_analyticsDescription() %}
{{"Contains analytics data, for example the version of the first fetched resource, and a list of trusted hosts which that data can be shared with."|translate("analytics-s1")}}
{% endmacro %}

{% macro documentation_linkDescription() %}
{{"Address on adblockplus.org to be opened for documentation links."|translate("documentation_link-s1")}} {{"It will\nredirect to the actual documentation location depending on the language used."|translate("documentation_link-s2")}}
{% endmacro %}

{% macro report_submiturlDescription() %}
{{"Address on adblockplus.org to submit issue reports to."|translate("report_submiturl-s1")}}
{% endmacro %}

{% macro subscriptions_exceptionsurlDescription() %}
{{"Location of the filter list used to\n<a href=\"acceptable-ads\">allow non-intrusive ads</a>."|translate("subscriptions_exceptionsurl-s1")}}
{% endmacro %}

{% macro subscriptions_exceptionsurlPrivacyDescription() %}
{{"Location of the filter list used to allow only nonintrusive ads that are privacy-friendly."|translate("subscriptions_exceptionsurlPrivacy")}}
{% endmacro %}

{% macro notificationurlDescription() %}
{{"Location of the file containing emergency notifications."|translate("notificationurl-s1")}}
{% endmacro %}

{% macro notificationdataDescription() %}
{{"Current emergency notification data."|translate("notificationdata-s1")}}
{% endmacro %}

{% macro subscriptions_antiadblockurlDescription() %}
{{"Location of the subscription that hides anti adblock messages."|translate("subscriptions_antiadblockurl-s1")}}
{% endmacro %}

{% macro blocklocalpagesDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("blocklocalpages-s1")}}
{% endmacro %}

{% macro blocktypesDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("blocktypes-s1")}}
{% endmacro %}

{% macro checkedadblockprefsDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("checkedadblockprefs-s1")}}
{% endmacro %}

{% macro checkedadblocksyncDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("checkedadblocksync-s1")}}
{% endmacro %}

{% macro grouporderDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("grouporder-s1")}}
{% endmacro %}

{% macro linktypesDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("linktypes-s1")}}
{% endmacro %}

{% macro localschemesDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("localschemes-s1")}}
{% endmacro %}

{% macro noncollapsabletypesDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("noncollapsabletypes-s1")}}
{% endmacro %}

{% macro patternsDescription() %}
{{"Unused in Adblock Plus 0.7.5 and higher"|translate("patterns-s1")}}
{% endmacro %}

{% macro linkcheckDescription() %}
{{"Unused in Adblock Plus 0.7.5.4 and higher"|translate("linkcheck-s1")}}
{% endmacro %}

{% macro checkedadblockinstalledDescription() %}
{{"Unused in Adblock Plus 1.0 and higher"|translate("checkedadblockinstalled-s1")}}
{% endmacro %}

{% macro checktoolbarDescription() %}
{{"Unused in Adblock Plus 1.0 and higher"|translate("checktoolbar-s1")}}
{% endmacro %}

{% macro protectchromeDescription() %}
{{"Unused in Adblock Plus 1.0 and higher"|translate("protectchrome-s1")}}
{% endmacro %}

{% macro showsubscriptionsDescription() %}
{{"Unused in Adblock Plus 1.0 and higher"|translate("showsubscriptions-s1")}}
{% endmacro %}

{% macro warnregexpDescription() %}
{{"Unused in Adblock Plus 1.0 and higher"|translate("warnregexp-s1")}}
{% endmacro %}

{% macro showintoolbarDescription() %}
{{"Unused in Adblock Plus 2.0 and higher"|translate("showintoolbar-s1")}}
{% endmacro %}

{% macro synchronizationintervalDescription() %}
{{"Unused in Adblock Plus 2.0 and higher"|translate("synchronizationinterval-s1")}}
{% endmacro %}

{% macro settings_keyDescription() %}
{{"Unused in Adblock Plus 2.0 and higher"|translate("settings_key-s1")}}
{% endmacro %}

{% macro hideimagemanagerDescription() %}
{{"Unused in Adblock Plus 2.1 and higher"|translate("hideimagemanager-s1")}}
{% endmacro %}

{% macro lastRuleUpdateDescription() %}
{{"Unused in Adblock Plus 2.3 and higher"|translate("lastRuleUpdate-s1")}}
{% endmacro %}

{% macro correctTyposAskedDescription() %}
{{"Unused in Adblock Plus 2.3 and higher"|translate("correctTyposAsked-s1")}}
{% endmacro %}

{% macro correctTyposDescription() %}
{{"Unused in Adblock Plus 2.3 and higher"|translate("correctTypos-s1")}}
{% endmacro %}

{% macro whitelistDescription() %}
{{"Unused in Adblock Plus 2.3 and higher"|translate("whitelist-s1")}}
{% endmacro %}

{% macro suppress_first_run_pageDescription() %}
{{"Suppresses the first run page Adblock Plus opens after the installation."|translate("suppress_first_run_page-s1")}}
{% endmacro %}

{% macro notifications_showuiDescription() %}
{{"Determines whether notification management UI should be displayed (only if the user opted out of notifications before)."|translate("notifications_showui-description")}}
{% endmacro %}

{% macro notifications_ignoredcategoriesDescription() %}
{{"List of notification categories that the user opted out of."|translate("notifications_ignoredcategories-description")}}
{% endmacro %}

{% macro removedIn2_9() %}
{{"Unused in Adblock Plus 2.9 and higher."|translate("removedIn2.9")}}
{% endmacro %}

{#
  Preference descriptions are defined in the macros above and only referenced
  here.
#}

{% from "includes/preftable" import display_preftable %}

{{ display_preftable([
  {
    "id": "visible_options",
    "title": 'Visible options'|translate('visible_optionsTitle'),
    "preferences": [
      {
        "name": "enabled",
        "default": "true",
        "description": enabledDescription
      },
      {
        "name": "frameobjects",
        "default": "true",
        "description": frameobjectsDescription
      },
      {
        "name": "savestats",
        "default": "false",
        "description": savestatsDescription
      },
      {
        "name": "showinstatusbar",
        "default": "false",
        "description": showinstatusbarDescription
      }
    ]
  },
  {
    "id": "hidden_options",
    "title": 'Hidden options'|translate('hidden_optionsTitle'),
    "preferences": [
      {
        "name": "clearStatsOnHistoryPurge",
        "default": "true",
        "description": clearStatsOnHistoryPurgeDescription
      },
      {
        "name": "composer_default",
        "default": "2",
        "description": composer_defaultDescription
      },
      {
        "name": "data_directory",
        "default": "adblockplus",
        "description": removedIn2_9
      },
      {
        "name": "defaultstatusbaraction",
        "default": "0",
        "description": defaultstatusbaractionDescription
      },
      {
        "name": "defaulttoolbaraction",
        "default": "0",
        "description": defaulttoolbaractionDescription
      },
      {
        "name": "enable_key",
        "default": None,
        "description": enable_keyDescription
      },
      {
        "name": "fastcollapse",
        "default": "false",
        "description": fastcollapseDescription
      },
      {
        "name": "filters_key",
        "default": "Accel Shift E, Accel Shift F, Accel Shift O",
        "description": filters_keyDescription
      },
      {
        "name": "flash_scrolltoitem",
        "default": "true",
        "description": flash_scrolltoitemDescription
      },
      {
        "name": "patternsbackupinterval",
        "default": "24",
        "description": patternsbackupintervalDescription
      },
      {
        "name": "patternsbackups",
        "default": "5",
        "description": patternsbackupsDescription
      },
      {
        "name": "patternsfile",
        "default": None,
        "description": patternsfileDescription
      },
      {
        "name": "please_kill_startup_performance",
        "default": "false",
        "description": removedIn2_9
      },
      {
        "name": "previewimages",
        "default": "true",
        "description": previewimagesDescription
      },
      {
        "name": "sendReport_key",
        "default": None,
        "description": sendReport_keyDescription
      },
      {
        "name": "sidebar_key",
        "default": "Accel Shift V, Accel Shift U",
        "description": sidebar_keyDescription
      },
      {
        "name": "subscriptions_autoupdate",
        "default": "true",
        "description": subscriptions_autoupdateDescription
      },
      {
        "name": "subscriptions_exceptionscheckbox",
        "default": "true",
        "description": subscriptions_exceptionscheckboxDescription
      }
    ]
  },
  {
    "id": "remembered_actions",
    "title": 'Remembered actions'|translate('remembered_actionsTitle'),
    "preferences": [
      {
        "name": "blockableItemsSize",
        "default": "{width: 200, height: 200}",
        "description": blockableItemsSizeDescription
      },
      {
        "name": "currentVersion",
        "default": "0.0",
        "description": currentVersionDescription
      },
      {
        "name": "detachsidebar",
        "default": "false",
        "description": detachsidebarDescription
      },
      {
        "name": "hideContributeButton",
        "default": "false",
        "description": hideContributeButtonDescription
      },
      {
        "name": "notifications_ignoredcategories",
        "default": "[]",
        "description": notifications_ignoredcategoriesDescription
      },
      {
        "name": "notifications_showui",
        "default": "false",
        "description": notifications_showuiDescription
      },
      {
        "name": "recentReports",
        "default": "[]",
        "description": recentReportsDescription
      }
    ]
  },
  {
    "id": "internal_preferences",
    "title": 'Internal preferences (don\'t change unless you really know what you are doing)'|translate('internal_preferencesTitle'),
    "preferences": [
      {
        "name": "analytics",
        "default": "{
          trustedHosts: [\"adblockplus.org\", \"notification.adblockplus.org\",
                         \"easylist-downloads.adblockplus.org\"]
        }",
        "description": documentation_analyticsDescription
      },
      {
        "name": "documentation_link",
        "default": "",
        "description": documentation_linkDescription
      },
      {
        "name": "notificationdata",
        "default": "{}",
        "description": notificationdataDescription
      },
      {
        "name": "notificationurl",
        "default": "",
        "description": notificationurlDescription
      },
      {
        "name": "report_submiturl",
        "default": "",
        "description": report_submiturlDescription
      },
      {
        "name": "subscriptions_antiadblockurl",
        "default": "",
        "description": subscriptions_antiadblockurlDescription
      },
      {
        "name": "subscriptions_exceptionsurl",
        "default": "",
        "description": subscriptions_exceptionsurlDescription
      },
      {
        "name": "subscriptions_exceptionsurl_privacy",
        "default": "",
        "description": subscriptions_exceptionsurlPrivacyDescription
      },
      {
        "name": "subscriptions_fallbackerrors",
        "default": "5",
        "description": subscriptions_fallbackerrorsDescription
      },
      {
        "name": "subscriptions_fallbackurl",
        "default": "",
        "description": subscriptions_fallbackurlDescription
      },
      {
        "name": "subscriptions_listurl",
        "default": "",
        "description": subscriptions_listurlDescription
      },
      {
        "name": "whitelistschemes",
        "default": "about chrome file irc moz-extension moz-safe-about news resource snews x-jsd addbook cid imap mailbox nntp pop data javascript moz-icon",
        "description": whitelistschemesDescription
      }
    ]
  },
  {
    "id": "removed_preferences",
    "title": 'Removed preferences'|translate('removed_preferencesTitle'),
    "preferences": [
      {
        "name": "blocklocalpages",
        "default": "",
        "description": blocklocalpagesDescription
      },
      {
        "name": "blocktypes",
        "default": "",
        "description": blocktypesDescription
      },
      {
        "name": "checkedadblockinstalled",
        "default": "",
        "description": checkedadblockinstalledDescription
      },
      {
        "name": "checkedadblockprefs",
        "default": "",
        "description": checkedadblockprefsDescription
      },
      {
        "name": "checkedadblocksync",
        "default": "",
        "description": checkedadblocksyncDescription
      },
      {
        "name": "checktoolbar",
        "default": "",
        "description": checktoolbarDescription
      },
      {
        "name": "correctTypos",
        "default": "",
        "description": correctTyposDescription
      },
      {
        "name": "correctTyposAsked",
        "default": "",
        "description": correctTyposAskedDescription
      },
      {
        "name": "grouporder",
        "default": "",
        "description": grouporderDescription
      },
      {
        "name": "hideimagemanager",
        "default": "",
        "description": hideimagemanagerDescription
      },
      {
        "name": "lastRuleUpdate",
        "default": "",
        "description": lastRuleUpdateDescription
      },
      {
        "name": "linkcheck",
        "default": "",
        "description": linkcheckDescription
      },
      {
        "name": "linktypes",
        "default": "",
        "description": linktypesDescription
      },
      {
        "name": "localschemes",
        "default": "",
        "description": localschemesDescription
      },
      {
        "name": "noncollapsabletypes",
        "default": "",
        "description": noncollapsabletypesDescription
      },
      {
        "name": "patterns",
        "default": "",
        "description": patternsDescription
      },
      {
        "name": "protectchrome.*",
        "default": "",
        "description": protectchromeDescription
      },
      {
        "name": "settings_key",
        "default": "",
        "description": settings_keyDescription
      },
      {
        "name": "showintoolbar",
        "default": "",
        "description": showintoolbarDescription
      },
      {
        "name": "showsubscriptions",
        "default": "",
        "description": showsubscriptionsDescription
      },
      {
        "name": "synchronizationinterval",
        "default": "",
        "description": synchronizationintervalDescription
      },
      {
        "name": "warnregexp",
        "default": "",
        "description": warnregexpDescription
      },
      {
        "name": "whitelist",
        "default": "",
        "description": whitelistDescription
      }
    ]
  },
  {
    "id": "preferences_for_administrators",
    "title": 'Preferences for administrators'|translate('preferences_for_administratorsTitle'),
    "preferences": [
      {
        "name": "suppress_first_run_page",
        "default": "false",
        "description": suppress_first_run_pageDescription
      }
    ]
  }
]) }}
