<div id="how-it-works" class="container">
  <section>
    <div class="row section reverse">
      <div class="column one-half">
        <img
          src="/img/browse-with-abp-chrome.svg"
          alt="{{ how-it-works-image-alt[alt text] How the ABP ad blocking extension for Chrome looks }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ how-it-works-heading[heading] How our ad blocker for Chrome works }}
        </h2>
        <p>
          {{ how-it-works-paragraph-1 Once you download Adblock Plus for Chrome, it will appear in your browser menu. It will automatically filter out all annoying and intrusive ad content. }}
        </p>
        <p class="inline-icon">
          {{ how-it-works-paragraph-2 Adblock Plus is configurable and can be adjusted to add whitelists and change types of filters through the Settings option <span class="settings-icon"></span>. }}
        </p>
      </div>
    </div>
  </section>
</div>
